.wallet-management-welcome {
  background-color: #f5f5f5;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  max-width: 400px;
  margin: 0 auto;
}

.wallet-management-welcome h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.wallet-management-welcome input[type="text"],
.wallet-management-welcome input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.welcome-wallet-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
}

.expense-list {
  list-style-type: none;
  padding: 0;
}

.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  margin-bottom: 8px;
  padding: 8px;
  background-color: #f9f9f9;
}

.expense-description {
  flex-grow: 1;
}

.delete-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #c0392b;
}


.money-info {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.money-info h3 {
  font-size: 20px;
  margin: 0;
}

.money-info p {
  font-size: 18px;
  margin: 0;
  font-weight: bold;
}

.reset_button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.reset_button:hover {
  background-color: #0056b3;
}